/**
 * Site header
 */
.site-header {
  //border-top: 5px solid $grey-color-dark;
  //border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  padding-top: 10px;

  // Positioning context for the mobile navigation icon
  position: relative;
  
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  padding: 0px 20px;
  border-radius: 10px;

  &,
  &:visited {
    color: $grey-color-dark;
  }

  &:hover{
    color:$background-color;
    //background-color: $text-color;
    text-decoration: none;
    background-color: $text-color;
    // background: linear-gradient(90deg,  $text-color,  $text-color, $background-color, $background-color);
    // background-size: 300% 100%;
    // animation: gradient-title .3s linear;
    // animation-fill-mode: forwards;
    img {
      filter: invert(100%);
    }
  }

  @keyframes gradient-title {
    from {background-position-x: 100%}
    to {background-position-x: 0%}
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    padding: 10px 20px;
    border-radius: 5px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      background-color: $text-color;
      color: $background-color;
      text-decoration: none
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}


.featured-nav {
  // float: left;
  // height: 500px;
  padding-bottom: 40px;

  .featured-thumbnail {
    background-color: $background-color;
    width: 24%;
    height: 300px;
    float: left;
    margin-right: 1%;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 3%;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 5px;
    }

    img {
      width:100%;
      height:100%;
      opacity: 0.7;
      object-fit: cover;
      // overflow: hidden;
    }

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .featured-title {
      color: $text-color;
      text-align: center;
    }

    .featured-overlay {
      position: absolute;
      top: 0; 
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      // opacity: 0;
      background-color: $text-color;
      transition: .5s ease;
      transform: translate(-100%, 0%) ;
    }

    .featured-meta {
      font-size: $small-font-size;
      color: $grey-color-light;
    }
    

    &:hover .featured-overlay {
      // opacity: 1;
      // width: 100%;
      transform: translate(0%, 0%);
    }

    .featured-text {
      color: $background-color;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      width: 90%;
      height: 90%;
      transform: translate(-50%, -50%);
      // -ms-transform: translate(-50%,-50%);
    }
  }
  @extend %clearfix;
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
