<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}"> 
  <!-- DEFINE USER DATA VARIABLE -->
  {%- assign page_user = page.user | default, "Debeta" | first-%}
  {%- assign user_data = site.users | where, "user", page_user -%}

  {%- include head.html -%}

  <body>
    {%- include user_header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{page_user | escape}}  
        {{user_data.title | escape}} 
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>